.title-price{
    color: #565656;
    border: #77abc0;
    font-weight: bolder;

}
.text-price{
    color: #fc9c7d;
}

.btn-price{
        border: 2px solid #77abc0;
        border-radius: 8px; /* 外框線圓角 */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* 添加陰影效果 */
}

/* 改變按鈕在滑鼠懸停時的外框線樣式 */
.btn-price:hover {
    border-color: #fc9c7d; /* 懸停時的外框線顏色 */
    font-weight: bold;
    color: #fc9c7d;
}